<div id="HomePg">
<div class="row">
<div class="col-md-12" >
<h1>Home</h1>
<p>Sages Chipper is an online food order service. It was developed for Dynamic Web Development of Year 4 of Software Systems Development. It features various business logic such as add to basket, totalling the basket price, ordering the items and having dynamic specials based on what is in the basket.</p>
     <hr style="background:#aaa; border:0; height:1px; " />
<h3>Site Features</h3>
<p><b>Menu:</b> This is the menu page where all the items in the menu are shown.</p>
<p><b>Specials:</b> The specials are loaded dynamically based on what is in the users basket and they are located on the Menu Page.</p>
<p><b>Basket:</b> This is where all the items added to basket are shown when user wishes to order the need to have item in basket and the information fields entered.</p>
<p><b>Orders:</b> This is where all the orders and loaded into the system, the Order Date, Total Price and and Information of the User that has Ordered is Shown.</p>
</div>
</div>
</div>
 