<div id="HomePg">
<div class="row">
<div class="col-md-12" >
<h1>Home</h1>
<p>Sages Chipper is an online food order service. It was developed for Dynamic Web Development of Year 4 of Software Systems Development. It features various business logic such as add to basket, totalling the basket price, ordering the items and having dynamic specials based on what is in the basket.</p>
<h3>Site Features</h3>
<p><b>Menu:</b> This is where all</p>
<p><b>Specials:</b></p>
<p><b>Basket:</b></p>
<p><b>Orders:</b></p>
</div>
</div>
</div>
 