<div id="MenuPg">
<div class="row">
<div class="col-md-12" >
<h1>Sages Chipper</h1>
<h2>Menu</h2>


	
<hr> 
    <input type="text" name="search" ng-model="name" ng-model="catagory" placeholder="Search the Menu" style="width: 100%;   padding: 5px 10px; box-sizing: border-box; font-size: 20pt;">
     <div>
          <h4>Your Current Basket Size: <b>{{basket.length}}</b></h4>
		<h4>Total Current Basket Total: <b>€ {{subtotal() | number : 2}}</b></h4>
	</div>



 <h4>Menu Size: <b>{{menu.length}}</b></h4>
 
 <hr>
 <div id="showMenu" class="col-md-6">
  <h2>Menu</h2>

 <div><h3>Burgers</h3></div>
     <div class="row">
 <div class="col-md-1">
	No.
 </div>
  <div class="col-md-2">
    Catagory
 </div>
  <div class="col-md-4">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="{{m._id}}" class="row" ng-repeat="m in menu | filter : name | filter : catagory | orderBy:['catagory',' name', 'price'] track by m._id"
 >
<div id="menulist" ng-if="m.catagory == 'Burger'">
    
 <div class="col-md-1">
 {{$index+1}}
 </div>
  <div class="col-md-2">
    {{m.catagory}}
 </div>
  <div class="col-md-4">
    {{m.name}}
 </div>
  <div class="col-md-1">
	€{{m.price | number : 2}}
 </div>
 <div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,m._id,m)">Add to Basket</button>
    &nbsp;
		 </div>	
    </div>
 
</div>
     
     
     <div><h3>Chicken</h3></div>
     <div class="row">
 <div class="col-md-1">
	No.
 </div>
  <div class="col-md-2">
    Catagory
 </div>
  <div class="col-md-4">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="{{m._id}}" class="row" ng-repeat="m in menu | filter : name | filter : catagory | orderBy:['catagory',' name', 'price'] track by m._id"
 >
<div id="menulist" ng-if="m.catagory == 'Chicken'">
    
 <div class="col-md-1">
 {{$index+1}}
 </div>
  <div class="col-md-2">
    {{m.catagory}}
 </div>
  <div class="col-md-4">
    {{m.name}}
 </div>
  <div class="col-md-1">
	€{{m.price | number : 2}}
 </div>
 <div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,m._id,m)">Add to Basket</button>
    &nbsp;
		 </div>	
    </div>
 
</div>
     
     
  
<div><h3>Chips</h3></div>
     <div class="row">
 <div class="col-md-1">
	No.
 </div>
  <div class="col-md-2">
    Catagory
 </div>
  <div class="col-md-4">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="{{m._id}}" class="row" ng-repeat="m in menu | filter : name | filter : catagory | orderBy:['catagory',' name', 'price'] track by m._id"
 >
<div id="menulist" ng-if="m.catagory == 'Chips'">
    
 <div class="col-md-1">
 {{$index+1}}
 </div>
  <div class="col-md-2">
    {{m.catagory}}
 </div>
  <div class="col-md-4">
    {{m.name}}
 </div>
  <div class="col-md-1">
	€{{m.price | number : 2}}
 </div>
 <div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,m._id,m)">Add to Basket</button>
    &nbsp;
		 </div>	
    </div>
 
</div>
     
     
     <div><h3>Fish</h3></div>
     <div class="row">
 <div class="col-md-1">
	No.
 </div>
  <div class="col-md-2">
    Catagory
 </div>
  <div class="col-md-4">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="{{m._id}}" class="row" ng-repeat="m in menu | filter : name | filter : catagory | orderBy:['catagory',' name', 'price'] track by m._id"
 >
<div id="menulist" ng-if="m.catagory == 'Fish'">
    
 <div class="col-md-1">
 {{$index+1}}
 </div>
  <div class="col-md-2">
    {{m.catagory}}
 </div>
  <div class="col-md-4">
    {{m.name}}
 </div>
  <div class="col-md-1">
	€{{m.price | number : 2}}
 </div>
 <div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,m._id,m)">Add to Basket</button>
    &nbsp;
		 </div>	
    </div>
</div>
     
     <div><h3>Sausages</h3></div>
     <div class="row">
 <div class="col-md-1">
	No.
 </div>
  <div class="col-md-2">
    Catagory
 </div>
  <div class="col-md-4">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="{{m._id}}" class="row" ng-repeat="m in menu | filter : name | filter : catagory | orderBy:['catagory',' name', 'price'] track by m._id"
 >
<div id="menulist" ng-if="m.catagory == 'Sausages'">
    
 <div class="col-md-1">
 {{$index+1}}
 </div>
  <div class="col-md-2">
    {{m.catagory}}
 </div>
  <div class="col-md-4">
    {{m.name}}
 </div>
  <div class="col-md-1">
	€{{m.price | number : 2}}
 </div>
 <div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,m._id,m)">Add to Basket</button>
    &nbsp;
		 </div>	
    </div>
 
</div>
     
     
     
</div>
    
    
    
<div id="showSpecials" class="col-md-6">  
<h2>Your Specials</h2>
    <div class="row">
<div class="col-md-2">
	Day
 </div>
  <div class="col-md-4">
    Name
 </div>
    <div class="col-md-2">
    Savings
 </div>     
  <div class="col-md-2">
    Price
 </div>
    </div>


   
 <div id="{{s._id}}" class="row" ng-repeat="s in specials | orderBy:['day', 'catagory',' name', 'price'] track by s._id" >
<div ng-if="(basketcompare().includes(s.item)) || (basketcompare().includes(s.item2)) || (basketcompare().includes(s.item3)) || basket.length == 0">
      <div class="col-md-2">
			{{s.day}} 
		 </div>
		  <div class="col-md-4">
			{{s.name}}
		 </div>
     <div class="col-md-2">
         <div ng-if="(basketcompare().includes(s.stuff) && (basketcompare().includes('Chips') || basketcompare().includes('Snack Box') || basketcompare().includes('Fish Box')))" >
             <b>Savings: €{{subtotal()-s.price | number : 2}}</b>

             
		 </div>
         <div ng-if=" ((s.stuff).includes('Plain Sausages Plain Sausages 6 Nuggets Chicken') && (basketcompare().includes('Chips')) && (basketcompare().includes('Chicken')) && (basketcompare().includes('Sausages')) && (basketcompare().includes('Sausages')))">
             <b>Savings: €{{subtotal()-s.price | number : 2}}</b>
		 </div>
          <div ng-if=" ((s.stuff).includes('Nuggets Chicken Plain Burger Burger Plain Burger Burger Plain Sausages Plain Sausages') && (basketcompare().includes('Chips')) && (basketcompare().includes('Chips'))  && (basketcompare().includes('Chicken')) && (basketcompare().includes('Burger')) && (basketcompare().includes('Burger')) && (basketcompare().includes('Sausages')) && (basketcompare().includes('Sausages')))">
              <b>Savings: €{{subtotal()-s.price | number : 2}} </b>
		 </div>
    </div>
		  <div class="col-md-2">
			€{{s.price | number : 2}}
		 </div>
		 
<div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,s._id,s)">Add to Basket</button>
    &nbsp;
		 </div>	
		  

</div>

</div>
 
</div> 
</div> 
    </div>
  
