<div id="OrdersPg">


<div class="row">
    
<div class="col-md-12" >

    <h1>Your Orders</h1>
                <label>
                     Orders Size: {{orders.length}}
<br>
                </label>
                
	
 <hr>
 
 
 <div id="showOrders" >

 <div id="{{o._id}}" class="row" ng-repeat="o in orders  | orderBy:['name'] track by o._id">
     <div class="row">
         <div class="col-md-12">
          <h4>Order Date: <b>{{o.OrderDate | date:'medium'}}</b></h4>
         </div>
         &nbsp;

 <div class="col-md-1">
	No.
 </div>
  <div class="col-md-1">
    Catagory
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
<div ng-repeat="nest in o.orderinfo">
       
 <div class="col-md-1">

		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
          {{nest.catagory}}
		 </div>
		  <div class="col-md-3">
          {{nest.name}}
		 </div>
		  <div class="col-md-1">
          {{nest.price | number : 2}}
		 </div>
     

    
    &nbsp;
     </div>
         
     
     
     &nbsp;
  
     <div class="col-md-12">
          <h4>Total €{{o.subtotal | number : 2}}</h4>
              &nbsp;
     &nbsp;
     &nbsp;
		 </div> 
     


</div>
</div> 		  
</div>
</div>
</div>
</div>
</div>
</div>
